<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="base::baseLayout(~{::section},'newAbout')">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<section>
    <h1>This is new About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae corporis cumque deleniti distinctio dolores,
        excepturi inventore ipsum laudantium magni nostrum obcaecati perferendis, placeat quae quam quia quos suscipit
        tenetur voluptas voluptatum. Animi consequatur nobis porro quas rem reprehenderit voluptatibus? Accusamus
        adipisci animi asperiores autem blanditiis dolor exercitationem explicabo inventore ipsa maiores nostrum optio
        perferendis, quod repellendus sapiente soluta totam? Corporis cupiditate exercitationem fugit id itaque maxime
        officiis, optio temporibus vel voluptates. Ad aliquid amet distinctio eveniet itaque magnam magni molestias
        nulla odit, qui rem sint temporibus velit. Adipisci earum libero minima necessitatibus! Aliquid assumenda
        pariatur voluptatem voluptatum. Minus, sit!</p>
</section>

</body>
</html>