<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer Template</title>
</head>
<body>

<footer id="fragmentTag" th:fragment="footer1">
    <div class="container" >
        <h1>About learn code with Hasan</h1>
        <h2>Provide good content about programming</h2>
        <h1>Feel free to contact and work with me!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur cum deserunt dolor earum, ex
            iste iusto mollitia non, quas, quibusdam quod similique veniam! Accusantium alias at consectetur consequatur
            doloremque dolores et eveniet exercitationem explicabo fugiat hic ipsum, necessitatibus nisi nobis, quidem
            quisquam, reiciendis sequi soluta velit vitae voluptatem voluptatum?</p>
    </div>
</footer>
</body>
</html>