<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Service Page</title>
</head>
<body>
<h1>This is the services provide by HASAN</h1>
<hr class="featurette-divider">
<footer id="hostTag" th:replace="footer::footer1(${title}, ${subtitle})">

</footer>
</body>
</html>